# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# 忽略所有环境配置文件
.env
backend/.env

# 忽略模型权重文件夹 (非常大，绝对不能传)
backend/roberta_cbt_scorer_best/
backend/roberta_cbt_scorer_best/

# 忽略 Python 缓存
__pycache__/
*.pyc
.ipynb_checkpoints/

node_modules/
dist/
build/
.DS_Store

*.mp4

# Claude Code
CLAUDE.md
.claude/